@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Gilda+Display%3Aital%2Cwght%400%2C400&family=Barlow%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-j6hoNwx8ua9M: 1440px;
  --plasmic-token-container: var(--token-j6hoNwx8ua9M);
  --token-nBicw3jOuO0K: #ffffff;
  --plasmic-token-white: var(--token-nBicw3jOuO0K);
  --token-BbWYmYd9gPWd: 430px;
  --plasmic-token-height: var(--token-BbWYmYd9gPWd);
  --token-iTocvpqSCEuH: #000000;
  --plasmic-token-black: var(--token-iTocvpqSCEuH);
  --token-1DzBClz4_5ly: #be8639;
  --plasmic-token-brown: var(--token-1DzBClz4_5ly);
  --token-vv3qrFQIpaUU: 80px;
  --plasmic-token-h-1: var(--token-vv3qrFQIpaUU);
  --token-g--JJtPDD: #f8f5f0;
  --plasmic-token-greengold: var(--token-g--JJtPDD);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-68CZkl9WHwTZ_font-family: "Montserrat", sans-serif;
  --mixin-68CZkl9WHwTZ_font-size: 16px;
  --mixin-68CZkl9WHwTZ_font-weight: 400;
  --mixin-68CZkl9WHwTZ_font-style: normal;
  --mixin-68CZkl9WHwTZ_color: #535353;
  --mixin-68CZkl9WHwTZ_text-align: left;
  --mixin-68CZkl9WHwTZ_line-height: 1.7;
  --mixin-68CZkl9WHwTZ_letter-spacing: 0.01em;
  --mixin-68CZkl9WHwTZ_white-space: pre-wrap;
  --mixin-68CZkl9WHwTZ_user-select: text;
  --mixin-68CZkl9WHwTZ_text-decoration-line: none;
  --mixin-68CZkl9WHwTZ_text-overflow: clip;
  --mixin-59wJ3yX8lBjj_color: var(--token-iTocvpqSCEuH);
  --mixin-59wJ3yX8lBjj_font-weight: 400;
  --mixin-59wJ3yX8lBjj_font-size: var(--token-vv3qrFQIpaUU);
  --mixin-59wJ3yX8lBjj_line-height: 1.2;
  --mixin-59wJ3yX8lBjj_letter-spacing: 0px;
  --mixin-59wJ3yX8lBjj_font-family: "Playfair Display", serif;
  --mixin-59wJ3yX8lBjj_white-space: pre-wrap;
  --mixin-gNPdfv-Qgv-3_color: #000000;
  --mixin-gNPdfv-Qgv-3_font-weight: 500;
  --mixin-gNPdfv-Qgv-3_font-size: 50px;
  --mixin-gNPdfv-Qgv-3_line-height: 1.1;
  --mixin-gNPdfv-Qgv-3_letter-spacing: 0px;
  --mixin-gNPdfv-Qgv-3_font-family: "Playfair Display", serif;
  --mixin-gNPdfv-Qgv-3_white-space: pre-wrap;
  --mixin-l40tG9quMHdr_color: #3291ff;
  --mixin-l40tG9quMHdr_white-space: pre-wrap;
  --mixin-GY_mHZhisSw7_color: #000000;
  --mixin-GY_mHZhisSw7_font-weight: 600;
  --mixin-GY_mHZhisSw7_font-size: 24px;
  --mixin-GY_mHZhisSw7_line-height: 1.2;
  --mixin-GY_mHZhisSw7_letter-spacing: -0.8px;
  --mixin-GY_mHZhisSw7_font-family: "Montserrat", sans-serif;
  --mixin-GY_mHZhisSw7_white-space: pre-wrap;
  --mixin-KQibeYw8-kF9_color: #000000;
  --mixin-KQibeYw8-kF9_font-weight: 500;
  --mixin-KQibeYw8-kF9_font-size: 24px;
  --mixin-KQibeYw8-kF9_line-height: 1.3;
  --mixin-KQibeYw8-kF9_letter-spacing: -0.5px;
  --mixin-KQibeYw8-kF9_white-space: pre-wrap;
  --mixin-u1CUh9LiU6KE_font-family: "Inconsolata";
  --mixin-u1CUh9LiU6KE_padding-top: 1px;
  --mixin-u1CUh9LiU6KE_padding-right: 4px;
  --mixin-u1CUh9LiU6KE_padding-bottom: 1px;
  --mixin-u1CUh9LiU6KE_padding-left: 4px;
  --mixin-u1CUh9LiU6KE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-u1CUh9LiU6KE_border-top-color: #dddddd;
  --mixin-u1CUh9LiU6KE_border-top-width: 1px;
  --mixin-u1CUh9LiU6KE_border-top-style: solid;
  --mixin-u1CUh9LiU6KE_border-right-color: #dddddd;
  --mixin-u1CUh9LiU6KE_border-right-width: 1px;
  --mixin-u1CUh9LiU6KE_border-right-style: solid;
  --mixin-u1CUh9LiU6KE_border-bottom-color: #dddddd;
  --mixin-u1CUh9LiU6KE_border-bottom-width: 1px;
  --mixin-u1CUh9LiU6KE_border-bottom-style: solid;
  --mixin-u1CUh9LiU6KE_border-left-color: #dddddd;
  --mixin-u1CUh9LiU6KE_border-left-width: 1px;
  --mixin-u1CUh9LiU6KE_border-left-style: solid;
  --mixin-u1CUh9LiU6KE_border-top-left-radius: 3px;
  --mixin-u1CUh9LiU6KE_border-top-right-radius: 3px;
  --mixin-u1CUh9LiU6KE_border-bottom-right-radius: 3px;
  --mixin-u1CUh9LiU6KE_border-bottom-left-radius: 3px;
  --mixin-u1CUh9LiU6KE_white-space: pre-wrap;
  --mixin-5abQQoxandTi_color: #888888;
  --mixin-5abQQoxandTi_padding-left: 10px;
  --mixin-5abQQoxandTi_border-left-width: 3px;
  --mixin-5abQQoxandTi_border-left-style: solid;
  --mixin-5abQQoxandTi_border-left-color: #dddddd;
  --mixin-5abQQoxandTi_white-space: pre-wrap;
  --mixin-GVCC4l229kG-_padding-top: 3px;
  --mixin-GVCC4l229kG-_padding-right: 6px;
  --mixin-GVCC4l229kG-_padding-bottom: 3px;
  --mixin-GVCC4l229kG-_padding-left: 6px;
  --mixin-GVCC4l229kG-_font-family: "Inconsolata";
  --mixin-GVCC4l229kG-_border-top-left-radius: 3px;
  --mixin-GVCC4l229kG-_border-top-right-radius: 3px;
  --mixin-GVCC4l229kG-_border-bottom-right-radius: 3px;
  --mixin-GVCC4l229kG-_border-bottom-left-radius: 3px;
  --mixin-GVCC4l229kG-_border-top-color: #dddddd;
  --mixin-GVCC4l229kG-_border-top-width: 1px;
  --mixin-GVCC4l229kG-_border-top-style: solid;
  --mixin-GVCC4l229kG-_border-right-color: #dddddd;
  --mixin-GVCC4l229kG-_border-right-width: 1px;
  --mixin-GVCC4l229kG-_border-right-style: solid;
  --mixin-GVCC4l229kG-_border-bottom-color: #dddddd;
  --mixin-GVCC4l229kG-_border-bottom-width: 1px;
  --mixin-GVCC4l229kG-_border-bottom-style: solid;
  --mixin-GVCC4l229kG-_border-left-color: #dddddd;
  --mixin-GVCC4l229kG-_border-left-width: 1px;
  --mixin-GVCC4l229kG-_border-left-style: solid;
  --mixin-GVCC4l229kG-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-GVCC4l229kG-_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-ghh2nT-OFP45_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-ghh2nT-OFP45_white-space);
  --mixin-VN3rkTpUchjd_white-space: pre-wrap;
  --plasmic-mixin-footer-menu_white-space: var(
    --mixin-VN3rkTpUchjd_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-68CZkl9WHwTZ_font-family);
  font-size: var(--mixin-68CZkl9WHwTZ_font-size);
  font-weight: var(--mixin-68CZkl9WHwTZ_font-weight);
  font-style: var(--mixin-68CZkl9WHwTZ_font-style);
  color: var(--mixin-68CZkl9WHwTZ_color);
  text-align: var(--mixin-68CZkl9WHwTZ_text-align);
  line-height: var(--mixin-68CZkl9WHwTZ_line-height);
  letter-spacing: var(--mixin-68CZkl9WHwTZ_letter-spacing);
  white-space: var(--mixin-68CZkl9WHwTZ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-59wJ3yX8lBjj_color);
  font-weight: var(--mixin-59wJ3yX8lBjj_font-weight);
  font-size: var(--mixin-59wJ3yX8lBjj_font-size);
  line-height: var(--mixin-59wJ3yX8lBjj_line-height);
  letter-spacing: var(--mixin-59wJ3yX8lBjj_letter-spacing);
  font-family: var(--mixin-59wJ3yX8lBjj_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-gNPdfv-Qgv-3_color);
  font-weight: var(--mixin-gNPdfv-Qgv-3_font-weight);
  font-size: var(--mixin-gNPdfv-Qgv-3_font-size);
  line-height: var(--mixin-gNPdfv-Qgv-3_line-height);
  letter-spacing: var(--mixin-gNPdfv-Qgv-3_letter-spacing);
  font-family: var(--mixin-gNPdfv-Qgv-3_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-l40tG9quMHdr_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-GY_mHZhisSw7_color);
  font-weight: var(--mixin-GY_mHZhisSw7_font-weight);
  font-size: var(--mixin-GY_mHZhisSw7_font-size);
  line-height: var(--mixin-GY_mHZhisSw7_line-height);
  letter-spacing: var(--mixin-GY_mHZhisSw7_letter-spacing);
  font-family: var(--mixin-GY_mHZhisSw7_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-KQibeYw8-kF9_color);
  font-weight: var(--mixin-KQibeYw8-kF9_font-weight);
  font-size: var(--mixin-KQibeYw8-kF9_font-size);
  line-height: var(--mixin-KQibeYw8-kF9_line-height);
  letter-spacing: var(--mixin-KQibeYw8-kF9_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  font-family: var(--mixin-u1CUh9LiU6KE_font-family);
  background: #f8f8f8;
  border-radius: var(--mixin-u1CUh9LiU6KE_border-top-left-radius)
    var(--mixin-u1CUh9LiU6KE_border-top-right-radius)
    var(--mixin-u1CUh9LiU6KE_border-bottom-right-radius)
    var(--mixin-u1CUh9LiU6KE_border-bottom-left-radius);
  padding: var(--mixin-u1CUh9LiU6KE_padding-top)
    var(--mixin-u1CUh9LiU6KE_padding-right)
    var(--mixin-u1CUh9LiU6KE_padding-bottom)
    var(--mixin-u1CUh9LiU6KE_padding-left);
  border-top: var(--mixin-u1CUh9LiU6KE_border-top-width)
    var(--mixin-u1CUh9LiU6KE_border-top-style)
    var(--mixin-u1CUh9LiU6KE_border-top-color);
  border-right: var(--mixin-u1CUh9LiU6KE_border-right-width)
    var(--mixin-u1CUh9LiU6KE_border-right-style)
    var(--mixin-u1CUh9LiU6KE_border-right-color);
  border-bottom: var(--mixin-u1CUh9LiU6KE_border-bottom-width)
    var(--mixin-u1CUh9LiU6KE_border-bottom-style)
    var(--mixin-u1CUh9LiU6KE_border-bottom-color);
  border-left: var(--mixin-u1CUh9LiU6KE_border-left-width)
    var(--mixin-u1CUh9LiU6KE_border-left-style)
    var(--mixin-u1CUh9LiU6KE_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-5abQQoxandTi_color);
  padding-left: var(--mixin-5abQQoxandTi_padding-left);
  border-left: var(--mixin-5abQQoxandTi_border-left-width)
    var(--mixin-5abQQoxandTi_border-left-style)
    var(--mixin-5abQQoxandTi_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  font-family: var(--mixin-GVCC4l229kG-_font-family);
  background: #f8f8f8;
  border-radius: var(--mixin-GVCC4l229kG-_border-top-left-radius)
    var(--mixin-GVCC4l229kG-_border-top-right-radius)
    var(--mixin-GVCC4l229kG-_border-bottom-right-radius)
    var(--mixin-GVCC4l229kG-_border-bottom-left-radius);
  padding: var(--mixin-GVCC4l229kG-_padding-top)
    var(--mixin-GVCC4l229kG-_padding-right)
    var(--mixin-GVCC4l229kG-_padding-bottom)
    var(--mixin-GVCC4l229kG-_padding-left);
  border-top: var(--mixin-GVCC4l229kG-_border-top-width)
    var(--mixin-GVCC4l229kG-_border-top-style)
    var(--mixin-GVCC4l229kG-_border-top-color);
  border-right: var(--mixin-GVCC4l229kG-_border-right-width)
    var(--mixin-GVCC4l229kG-_border-right-style)
    var(--mixin-GVCC4l229kG-_border-right-color);
  border-bottom: var(--mixin-GVCC4l229kG-_border-bottom-width)
    var(--mixin-GVCC4l229kG-_border-bottom-style)
    var(--mixin-GVCC4l229kG-_border-bottom-color);
  border-left: var(--mixin-GVCC4l229kG-_border-left-width)
    var(--mixin-GVCC4l229kG-_border-left-style)
    var(--mixin-GVCC4l229kG-_border-left-color);
}
